<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<title>HONORSFORE - WIRYE</title>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
	</head>
    <body>
        <div class="wrap">
			<!-- Header Section -->
			<div class="header">
				<span><a href="{{url_for('index')}}">HONORS FORE</a></span>
			</div>

			<div class="contents">
				{% block content %}
				
				{% endblock %}
			</div>
			<div class="footer">
				<div>
					COPYRIGHTⓒ HONORSFORE. ALL RIGHTS RESERVED.
				</div>
			</div>
		</div>
	</body>
</html>