/* a css */
a{text-decoration:none;color:#fff;}
a:link{text-decoration:none;}
a:visited{text-decoration:none;}
a:hover{text-decoration:none;}

/* Body Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

/* Header and Footer Styles */
.header {
  width: 100%;
  padding:5% 0%;
  background-color: #172647;
  text-align: center;
  color: white;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.contents{
	background-color: #172647;
}

.contents > .temp {
	color:#fff;text-align: center;
}

.footer {
  width: 100%;
  padding:2% 0%;
  background-color: #172647;
  text-align: center;
  color: white;
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 400;
  font-style: normal;
}

/* Gallery Styles */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  max-width: 600px;
  margin: 20px 0;
}

.gallery-item {
  flex: 0 0 48%;
  margin-bottom: 10px;
  width: 150px;
  height: 150px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background: url('') center center / 150% no-repeat #333;
  display: block;
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
}

.modal-content {
  position: relative;
  max-width: 90%;
  max-height: 90%;
}

.modal-content img {
  width: 100%;
  height: auto;
}

.close {
  position: absolute;
  top: 10px;
  right: 25px;
  color: white;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}
